<div class="btnVolver">
    <button class="button button-green btnRgisCamp" onclick="Volver()">
        Volver</button>
</div>
<div class="decoration">
</div>
<div class="divEspacioBlanco">
    <img class="responsive-image imgEspacioBlanco" src="{{campain.imagen}}" alt="{{campain.nombre}}">
    <label class="h4Negro">
        {{campain.nombre}}</label>
    <p>
        {{campain.descripcion}}</p>
    <p>
        <strong>Logro: </strong>{{campain.logro}}</p>
    <p>
        <strong>Meta: </strong>{{campain.meta}}</p>
    <ul class="icon-list">
        <li class="calendar-list">{{campain.fecha}}</li>
        <li class="flag-list">{{campain.lugar}} - {{campain.ciudad}}</li>
        <li class="info-list"><a id="linkIr" onclick="openLinkInBrow($('#linkIr').text())">{{campain.informacion}}</a></li>
    </ul>
</div>
<div class="content center-text">
    <label class="h4Negro center-text">
        Compártelo</label>
    <!-- <button class="button button-blue" ng-click="CompartirFB( campain.informacion )"><span>Facebook</span></button>

    <button class="button button-blue" ng-click="CompartirTW( campain.informacion )"><span>Twitter</span></button>-->
    <button class="button button-blue" ng-click="compartir()">
        Compartir</button>
</div>
<div class="decoration">
</div>
