        <div class="content-section">
                <h1 class="left-text">Selecciona un tipo de producto</h1>
                <em class="left-text">Conoce el tiempo de vida útil de los elementos que adquieres de cada categoria</em>
                <div class="overlay"></div>
                <img class="responsive-image" src="img/campanias/campanias.png" alt="Selecciona un tipo de producto">
            </div>


    <div class="content">

        <div class="one-half-responsive">
                <div ng-click="mostrar('medicamentos')" class="one-third">
                        <img class="responsive-image" src="img/categorias/medicament.png" alt="Categoría Medicamentos">
                    <h4 class="center-text">Medicamentos</h4>
                    <p class="center-text">Seleccionar</p>
                </div>

                <div ng-click="mostrar('pilas')" class="one-third">
                        <img class="responsive-image" src="img/categorias/pilas.png" alt="Categoría Pilas">
                    <h4 class="center-text">Pilas</h4>
                    <p class="center-text">Seleccionar</p>
                </div>

                <div ng-click="mostrar('bupa')" class="one-third last-column">
                        <img class="responsive-image" src="img/categorias/baterias.png" alt="Categoría Baterías">
                    <h4 class="center-text">Baterías Plomo Ácido</h4>
                    <p class="center-text">Seleccionar</p>
                </div>
            </div>


            <div class="decoration hide-if-responsive"></div>


            <div class="one-half-responsive last-column">
                <div ng-click="mostrar('llantas')" class="one-third">
                        <img class="responsive-image" src="img/categorias/llantas.png" alt="Categoría Llantas">
                    <h4 class="center-text">Llantas</h4>
                    <p class="center-text">Seleccionar</p>
                </div>
                <div ng-click="mostrar('bombillas')" class="one-third">
                        <img class="responsive-image" src="img/categorias/bombillas.png" alt="Categoría Bombillas">
                    <h4 class="center-text">Bombillas</h4>
                    <p class="center-text">Seleccionar</p>
                </div>
                <div ng-click="mostrar('computadores')" class="one-third last-column">
                        <img class="responsive-image" src="img/categorias/pcs.png" alt="Categoría Equipos de cómputo">
                    <h4 class="center-text">Computadores e impresoras</h4>
                    <p class="center-text">Seleccionar</p>
                </div>
            </div>

        <div class="clear"></div>

    </div>
