        <div class="content-section">
                <label class="h1TitBlanco left-text">
                    Selecciona el tipo de producto que recolectaste</label>
                <em class="left-text">No todos los productos generan la misma contaminación</em>
                <div class="overlay"></div>
                <img class="responsive-image" src="img/campanias/campanias.png" alt="Selecciona el tipo de producto que recolectaste">
            </div>


    <div class="content" id="contentCategorias">

        <div class="one-half-responsive">
                <div ng-click="mostrar('medicamentos')" class="one-third">
                        <img class="responsive-image" src="img/categorias/medicament.png" alt="Categoría Medicamentos">
                        <label class="h4Negro center-text h4Cat">Medicamentos</label>
                </div>

                <div ng-click="mostrar('pilas')" class="one-third">
                        <img class="responsive-image" src="img/categorias/pilas.png" alt="Categoría Pilas">
                        <label class="h4Negro center-text h4Cat">Pilas</label>
                </div>

                <div ng-click="mostrar('baterias')" class="one-third last-column">
                        <img class="responsive-image" src="img/categorias/baterias.png" alt="Categoría Baterías">
                        <label class="h4Negro center-text h4Cat">Baterías plomo ácido</label>
                </div>
            </div>


            <div class="decoration hide-if-responsive"></div>


            <div class="one-half-responsive last-column">
                <div ng-click="mostrar('llantas')" class="one-third">
                        <img class="responsive-image" src="img/categorias/llantas.png" alt="Categoría Llantas">
                        <label class="h4Negro center-text h4Cat">Llantas</label>
                </div>
                <div ng-click="mostrar('bombillas')" class="one-third">
                        <img class="responsive-image" src="img/categorias/bombillas.png" alt="Categoría Bombillas">
                        <label class="h4Negro center-text h4Cat">Bombillas</label>
                </div>
                <div ng-click="mostrar('computadores e impresoras')" class="one-third last-column">
                        <img class="responsive-image" src="img/categorias/pcs.png" alt="Categoría Equipos de cómputo">
                        <label class="h4Negro center-text h4Cat">Computadores e impresoras</label>
                </div>
            </div>

        <div class="clear"></div>

    </div>
