
<div>
    <div class="content-section">
                <h1 class="left-text">{{categoria.nombre|uppercase}}</h1>
                <em class="left-text">{{categoria.descripcion}}</em>
                <div class="overlay"></div>
                <img class="responsive-image" src="img/campanias/campanias.png" alt="img">
            </div>


    <div class="content"> 
        <h1 class="center-text">¿Cuánto recolectas para beneficiar el mundo?</h1>
    </div>

    <div class="decoration"></div>

    <div class="content" id="contador">

        <img src="libs/theme/code/images/lists/up_48.png" ng-click="cantidad = cantidad+1">

        <div class="cantidad">{{cantidad}}</div>

        <img src="libs/theme/code/images/lists/down_48.png" ng-click="cantidad = cantidad-1" ng-show="cantidad>0">

    </div>

    <div>
        <div class="big-notification blue-notification">
            <h4 class="uppercase">¿Que estás logrando con ésto?</h4>
            <p class="center-text uppercase" ng-show="cantidad >= puntaje.min && cantidad <= puntaje.max" ng-repeat="puntaje in puntajes">
                {{puntaje.mensaje}}
            </p>
            <p class="center-text uppercase" ng-show="cantidad <= 0">
                Recicla éstos productos y verás el beneficio que esto genera al mundo
            </p>
        </div>
    </div>

    <div class="decoration"></div>
</div>