<div ng-show="vista=='pregunta'">

    <div class="content">
        <label class="titulo-pregunta">{{pregunta.pregunta}}</label>
    </div>

    <div class="decoration"></div>

    <div class="content">
            <div class="static-notification-blue" ng-click="calificar(1)">
                <p class="center-text">{{ pregunta.rta1 }}</p>
            </div>

            <div class="static-notification-blue" ng-click="calificar(2)">
                <p class="center-text">{{ pregunta.rta2 }}</p>
            </div>

            <div class="static-notification-blue" ng-click="calificar(3)">
                <p class="center-text">{{ pregunta.rta3 }}</p>
            </div>

            <div class="static-notification-blue" ng-click="calificar(4)">
                <p class="center-text">{{ pregunta.rta4 }}</p>
            </div>

    </div>

</div>

<div ng-show="vista == 'respuesta'">

    <div class="content">
         <img class="imgSabias" src="img/sabias4.jpg" alt="¿Sabias que?">
         <img class="imgRta" src="img/ok.png" alt="Correcto" ng-show="correcto">
         <img class="imgRta" src="img/error.png" alt="Incorrecto" ng-show="correcto == false">
        <label class="feed-respuesta rta"  >{{feed}}</label>
    </div>
    <div class="decoration"></div>

    <div class="content">
        <button class="button button-green" ng-click="ir_siguiente()">Siguiente</button>
    </div>

</div>


<div ng-show="vista == 'final'">

    <div class="content">
        <div ng-show="puntos>0" class="static-notification-green tap-dismiss-notification">
            <p class="center-text uppercase">¡Felicidades! Has ganado</p>
            <p class="center-text uppercase">
                <b>{{puntos}} puntos.</b>
            </p>
            <label class="h4Negro center-text">Compártelo con tus amigos</label>
            <p class="center-text">
               <!-- <button class="button button-blue" onclick="openLinkInBrowser('https://www.facebook.com/sharer/sharer.php?u=He%20obtenido%2010%20puntos%20en%20LeafApp');">Facebook</button>
                <button class="button button-blue" onclick="openLinkInBrowser('https://twitter.com/intent/tweet?text=He%20obtenido%2010%20puntos%20en%20Red%20Posconsumo%20¿Puedes%20superarme?');" >Twitter</button>
            
                <button class="button button-blue" ng-click="window.plugins.socialsharing.share('He ganado {{puntos}} puntos en Red Posconsumo. ¿Puedes superarme?', null, null, 'http://www.minambiente.gov.co/')">Compartir</button>
                <button onclick="window.plugins.socialsharing.shareViaFacebook('Message via Facebook', null, null, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">fb 1</button>
                <button onclick="window.plugins.socialsharing.shareViaFacebook('Message via Facebook 2'+{{puntos}}, null, null, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">fb 2</button>
                <button onclick="window.plugins.socialsharing.shareViaFacebook('Message via Facebook 3 {{puntos}}', null, null, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">fb 3</button>
                <button onclick="window.plugins.socialsharing.shareViaTwitter('Message via Twitter {{puntos}} ')">tw 1</button>
                <button onclick="window.plugins.socialsharing.shareViaTwitter('Message via Twitter 2')">tw 2</button>-->
                <button class="button button-blue" ng-click="compartir()">Compartir</button>
            </p>
        </div>
    </div>


    <div ng-show="puntos==0" class="static-notification-blue tap-dismiss-notification">
       <p class="center-text uppercase">¡Lo sentimos! No has logrado puntos. Recuerda que puedes seguir intentando, seguro obtendrás muchos puntos.</p>
       <div id="dvganar">
             <a href="_ganar.html" class="button button-green">Volver a intentarlo</a>
       </div>
    </div>
</div>