<div>
    <div class="content">
        <h4 ng-click="refreshMap()">Ubicación</h4>
        <h3>{{lugarSel.direccion}}, {{lugarSel.municipio}}</h3>
    </div>

    <div class="content"><div class="decoration"></div></div>

    <div class="maps-container">
        <google-map 
            center="mapa.center" 
            zoom="mapa.zoom"
            control="mapa.control"
            refresh="mapa.ref"></google-map>
    </div>

    <div class="decoration"></div>

   <!-- <div class="container center-text">
       <a href="_mapa.html" class="button button-green">Mapa interactivo</a>
    </div>
    <div class="decoration">-->

    </div>
</div>