<div>
    <div class="content-section">
        <h1 class="left-text">{{lugarSel.categoria}}</h1>
        <em class="left-text">{{lugarSel.vocero}}</em>
        <div class="overlay"></div>
    </div>


    <div class="content">
        <h4>¿Que puedes hacer aquí?</h4>
        <p>
            En éste punto de atención podrás llevar todos aquellos articulos que ya estén vencidos, desechos, o no uses más, con el fin de que profesionales se encarguen de ellos para no dañar el medio ambiente.
        </p>
    </div>


    <div class="content">
        <h4>Ubicación</h4>
        <h3>{{lugarSel.direccion}}, {{lugarSel.municipio}}</h3>

    </div>


    <div class="content"><div class="decoration"></div></div>


    <div class="maps-container">
        <iframe class="responsive-image maps" ng-src="{{ lugarSel.google_mapa }}"></iframe>
    </div>

    <div class="decoration"></div>

    <div class="container center-text">
       <a href="_mapa.html" class="button button-green">Mapa interactivo</a>
    </div>
    <div class="decoration">

    </div>
</div>