<div ng-repeat="video in videoLista">
    <div class="portfolio-item-full-width" ng-show="video.ok" ng-click="video_click( video.url )">
       <!-- <iframe class="responsive-video" src="{{video.url}}"></iframe>-->
       <img class="responsive-image" ng-src="{{video.th}}" alt="Imagen previa de video {{video.titulo}}. Seleccione esta imagen para ver video en youtube">
         <label class="h4Negro">{{video.titulo}}</label>
        <p>
            {{video.descripcion}}</p>
    </div>
    <div class="decoration">
    </div>
</div>
