body, html{
    height: 100%;
    padding: 0;
margin: 0;
}

#content-map {
    height:90%;
    width:100%;
}

#map {
    height:100%;
    width:100%;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
	text-align: center;
}

.h2Mapa {
    margin-bottom:0;
    margin-top: 0;
    font-size: 15px !important;
}

/*****************************************************/
.fixed-header {
    top: 0px;
    z-index: 999999;
    position: fixed;
    width: 100%;
}

.content-controls {
    z-index: 15;
    height: 50px;
}

.solid-color {
    background-color: #27ae60;
    margin-bottom: 20px;
}

.fixed-header-clear {
    height: 50px;
}

.deploy-volver {
    background-image: url(../libs/theme/code/images/misc/nav-atras.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 50px;
    background-position: 8px;
    display: inline-block !important;
    border-right: 1px solid #00AA47;
}

#preloader {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    padding: 10px;
    z-index: 999999;
}


.btnLlegar {
	font-size: 14px !important;
	color: #fff;
	margin-top: 10px;
	padding: 4px 7px;
}

.button-green {
background-color: #27ae60;
}
